.project{
	
	border-width :25px;
	background-color: rgba(173, 216, 230,0.4);
	margin-top:20px ;
	margin-left: 400px;
	margin-right:400px ;
	margin-bottom: 170px;
	padding-bottom: 100px;
	padding-top:30px;
	padding-left:35px;
	text:bold;
	border:transparent;
	box-shadow: 10px 20px 10px 20px lightblue;
	border-radius:30px ;
	text-color: blue;
}

.newproject{
	text-align : center;
	color: black;
	border-top-width :5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-right-width:5px;
	background-color: rgba(0,0,0,0.2);
	margin-left: 500px;
	margin-right:500px ;
	margin-top:50px;
	padding-top:10px;	
	text:bold;
	border:transparent;
	border-radius:50px ;

}

input[type="text"]{
	width:420px;
	padding:10px;
	margin-left:10px;
	text-decoration-color: black;
}

textarea{
	
	width:420px;
	padding:10px;
	margin-left:10px;
	text-decoration-color: black;
}

div p{
	text-align:center;
	padding-right:60px;
}

input[type="file"]{
	padding-left:130px;
}


button{
	width:120px;
	height:50px;
	text:bold;
	background-color:aqua;
	font-size: 1.1em;
	font-family: Times, "Times New Roman", Georgia, serif;
	border:transparent;
	box-shadow: 2px;
	color:brown;
	align:center;
}


